extends layout

block content
    .jumbotron.wicked-admin-title
        .container.wicked-title-container
            h1 System Health
            
            p Check the health of the wicked system components
    
    .container.wicked-container
        br
        table(class='table table-striped')
            thead
                tr
                    th ID
                    th Status
                    th Message
                    th Pending Events
                    th Uptime
            tbody
                for info in health
                    tr
                        td= info.name
                        td
                            if info.healthy == 1
                                span.label.label-success Healthy
                            else if info.healthy == 2
                                span.label.label-warning Initializing
                            else
                                span.label.label-danger Unhealthy
                        td= info.message
                        td
                            if info.pendingEvents > 0
                                != info.pendingEvents
                            else if info.pendingEvents == 0
                                | none
                            else
                                | ---
                        td
                            if info.healthy || (info.uptime > 0 && info.uptimeText)
                                | #{info.uptimeText}
                            else
                                | ---
                    if info.error
                        tr
                            td &nbsp;
                            td &nbsp;
                            td
                                pre!= info.error
                            td &nbsp;
                            td &nbsp;
        
        h5 Latest Commit:

        pre= glob.lastCommit