extends layout

block scripts
    script(type='text/javascript').
        function confirmUnsubscribe() {
            return confirm("This action will render the current API key unusable. Are you sure you want to unsubscribe from the API?");
        }
        function confirmDeleteSubscriptions() {
            if (confirm("This action will delete ALL subscriptions to the current API. Are you 100% sure you want to do this?"))
                return confirm("Please confirm once more that you really want to delete all current subscriptions.");
            return false;
        }

block bodyScripts
    script(type='text/javascript').
        // Enable Popovers
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });

block content
    .jumbotron.wicked-api-title
        .container.wicked-title-container
            .row
                .col-md-8
                    h1= title
                    p!= apiInfo.desc
                .col-md-4
                    br
                    if (apiInfo.auth == 'oauth2')
                        img(src="/images/oauth2-icon-64.png" align="right" title="API is secured via OAuth 2.0")
                    else if (!apiInfo.auth || apiInfo.auth == 'key-auth')
                        img(src="/images/key-icon-64.png" align="right" title="API is secured with API keys")
    
    .container.wicked-container

        if apiInfo.deprecated
            .panel.panel-danger
                .panel-heading
                    h4.panel-title API deprecated
                .panel-body
                    p.
                        This API has been deprecated by the API Portal maintainers. This means it can no longer be subscribed to.
                        Existing subscriptions are still valid.

        .panel.panel-default
            .panel-heading
                +panelTitle('API Settings', '/help/api')
            .panel-body
                label API URL:
                br
                input(readonly type='string' value='#{apiUri}' style='font-family: monospace;').form-control
                if authServers && authServers.length > 0 && apiInfo.auth == 'oauth2' && apiInfo.settings && (apiInfo.settings.enable_implicit_grant || apiInfo.settings.enable_authorization_code || apiInfo.settings.enable_password_grant)
                    br
                    if (authServers.length == 1)
                        label Authorization Server:
                    else
                        label Authorization Servers:
                        p Any of the following Authorization Servers can be used to retrieve an access token for the API.
                    for authServer in authServers
                        h5 #{authServer.desc}:
                        input(readonly type='string' value=authServer.url style='font-family: monospace;').form-control
                        if authServer.urlDescription
                            p!= authServer.urlDescription

        .panel.panel-default
            .panel-heading
                +panelTitle('Description', '/help/api', '#apidescription')
            #apidescription.collapse.panel-collapse
                .panel-body
                    != apiDesc

                    a(href="/swagger-ui/?url=/apis/#{apiInfo.id}/swagger" role="button").btn.btn-default View Swagger definition &raquo;

        
        if !authUser
            .panel.panel-danger
                .panel-heading
                    h4.panel-title Not logged in
                .panel-body
                    p.
                        You are currently not logged in, so we can't display your registered applications.
                        Please log in first.
                    p                    
                        a(href="/login?redirect=/apis/#{apiInfo.id}").btn.btn-default Log in &raquo;

        else
            .panel.panel-default
                .panel-heading
                    +panelTitle('Applications', '/help/api')
                .panel-body
            
                    if applications.length == 0
                        p You do not have any registered applications yet. Please create an application first.
                    else
                        table.table.table-striped
                            thead
                                tr
                                    th Application
                                    th Plan
                                    if apiInfo.auth == "key-auth"
                                        th(colspan=2) API Key (Header <code>#{glob.api.headerName}</code>)
                                    else if apiInfo.auth == "oauth2"
                                        th Client ID
                                        th Client Secret
                                    else
                                        th n/a
                                    th Action
                                    th Try it!
                            tbody
                                for app in applications
                                    tr
                                        // Application
                                        td(style='vertical-align:middle;')
                                            a(href='/applications/#{app.id}')= app.name
                                        // Plan, API Key or Client ID/Secret
                                        if app.hasSubscription
                                            td(style='vertical-align:middle;')
                                                if app.plan && app.plan.name
                                                    a(href='#' data-toggle='popover' data-trigger='hover' title='#{app.plan.name}' data-content='#{app.plan.desc}')= app.plan.name
                                                else
                                                    i Inaccessible plan
                                            if app.subscriptionApproved
                                                if apiInfo.auth == "key-auth"
                                                    td(colspan=2 style='max-width:400px')
                                                        input(readonly type='password' data-toggle='password' value='#{app.apiKey}').form-control
                                                else if apiInfo.auth == "oauth2"
                                                    td(style='max-width:250px')
                                                        input(readonly type='password' data-toggle='password' value='#{app.clientId}').form-control
                                                    td(style='max-width:250px')
                                                        input(readonly type='password' data-toggle='password' value='#{app.clientSecret}').form-control
                                            else
                                                td(colspan=2 style='vertical-align:middle;')
                                                    i Subscription approval is pending
                                        else
                                            td ---
                                            td(colspan=2 style='vertical-align:middle;')
                                                i Application currently not subscribed
                                        // Action
                                        if app.mayUnsubscribe
                                            td
                                                form(role='form' action='/applications/#{app.id}/unsubscribe/#{apiInfo.id}' method='POST' onsubmit='return confirmUnsubscribe();')
                                                    button(type='submit').btn.btn-danger.btn-block Unsubscribe &raquo;
                                        else if app.maySubscribe
                                            td
                                                a(href='/applications/#{app.id}/subscribe/#{apiInfo.id}').btn.btn-success.btn-block Subscribe &raquo;
                                        else if app.subscribeError
                                            td
                                                i= app.subscribeError
                                        else
                                            td &nbsp;
                                        // Try it!
                                        if app.hasSubscription && app.subscriptionApproved
                                            td
                                                if apiInfo.auth == "key-auth"
                                                    a(href='#{glob.network.schema}://#{glob.network.apiHost}/swagger-ui/?apikey=#{app.apiKey}&url=#{app.swaggerLink}' target='_blank').btn.btn-default Try it!
                                                else if apiInfo.auth == "oauth2" && apiInfo.settings && apiInfo.settings.enable_client_credentials
                                                    a(href='#{glob.network.schema}://#{glob.network.apiHost}/swagger-ui/?client_id=#{app.clientId}&client_secret=#{app.clientSecret}&url=#{app.swaggerLink}' target='_blank').btn.btn-default Try it!
                                                else
                                                    | ---
                                        else
                                            td(style='vertical-align:middle;') ---


                    p Need an additional application? Click the button below.

                    a(href="/applications?register=true").btn.btn-default Register Application &raquo;

            if authUser.admin
                .panel.panel-success
                    .panel-heading
                        +panelTitle('All Subscriptions (Admin only)', null, '#admin_subscriptions')
                    #admin_subscriptions.collapse.panel-collapse
                        .panel-body
                            if apiSubscriptions && apiSubscriptions.length > 0
                                p This is a global list of all applications subscribed to this API:

                                ul
                                    for subscribedApp in apiSubscriptions
                                        li <a href="/applications/#{subscribedApp.application}">#{subscribedApp.application}</a> (Plan: #{subscribedApp.plan})

                                p
                                    a(href='/admin/apis/#{apiInfo.id}/subscriptions_csv').btn.btn-success Download as CSV

                                br

                                .panel.panel-danger
                                    .panel-heading
                                        +panelTitle('Super Danger Zone', null, '#admin_superdanger')
                                    #admin_superdanger.collapse.panel-collapse
                                        .panel-body
                                            p.
                                                In preparation of a retraction of an API, you may (as an Admin) here delete all subscriptions to this API.
                                                Please be aware of the consequense for your users: <b>Applications using the API will no longer function</b>
                                                (as the subscription is no longer available).
                                            if apiInfo.deprecated
                                                form(role='form' method='POST' action='/admin/apis/#{apiInfo.id}/delete_subscriptions' onsubmit='return confirmDeleteSubscriptions();')
                                                    button(type='submit').btn.btn-danger Delete Subscriptions
                                            else
                                                p(style='color:red')
                                                    strong This is only possible for APIs already marked as <code>deprecated</code>.
                            else
                                p <i>There are no subscriptions to this API.</i>
