extends layout

mixin checkBox(source, value)
  - var inputId = source
  - var inputValue = value
  - var label = source
  .checkbox
    label
      if inputValue
        input(name='#{inputId}' id='#{inputId}' class='tag' checked='checked' type='checkbox')
        | !{label}
      else
        input(name='#{inputId}' id='#{inputId}' class='tag' type='checkbox')
        | !{label}

mixin apiCategories(apiTags, params)
    .panel-body.wicked-api-body
      form(role='form' action='/apis' method='GET')
        .form-group
        b API Categories
        input(name='filter' id='filter' value='on' type='hidden')
        each tag, i in apiTags
          +checkBox(tag, params[tag])
        button(type='submit' onclick='checkCategoryFilter()').btn.btn-primary Filter
        &nbsp;
        a.btn.btn-primary(href="/apis" role="button" title="Clear") Clear

mixin apiDef(anApi)
    .panel-body.wicked-api-body(style="flex: 1;")
        if glob.views.apis.showApiIcon
            img(src='/images/api-icon.png')
        if anApi.auth == 'oauth2'
            a(href='/help/apis' target='_blank')
                img.pull-right(src='/images/oauth2-icon-32.png' title='API is secured over OAuth 2.0')
        else if anApi.auth == 'none'
        else
            a(href='/help/apis' target='_blank')
                img.pull-right(src='/images/key-icon-32.png' title='API is secured over API keys')
        a(href='/apis/#{anApi.id}')
            h4= anApi.name
        if anApi.deprecated
            p.red <b>Deprecated</b>
        p!= anApi.desc
        a.btn.btn-default.pull-right(href="/apis/#{anApi.id}" role="button" title="Information") Information &raquo;


block scripts
  script(type='text/javascript').
    function checkCategoryFilter() {
      if($(".tag:checked").length <= 0){
        $("input[id='filter']").remove();
      }
    }

block content
    .jumbotron.wicked-api-title
        .container.wicked-title-container
            h1= title

            p= glob.views.apis.titleTagline

    .container.wicked-container
        if desc
            p!= desc
        p &nbsp;

            //-.owl-item
                .item
                    .card
                        a.card-img(href="https://clarivate.com/blog/news/immuno-oncology-sector-deals-dominate-2017-life-sciences-deal-year-awards/")
                            img.attachment-featured.size-featured.wp-post-image(src="https://cdn.clarivate.com/wp-content/uploads/2017/11/News-image.png" alt="Immuno-Oncology Sector Deals Dominate 2017 Life Sciences Deal of the Year Awards")
                        div.card-content
                            time 2 weeks ago
                            a.latest-news-title(href="https://clarivate.com/blog/news/immuno-oncology-sector-deals-dominate-2017-life-sciences-deal-year-awards/")
                                h5 Immuno-Oncology Sector Deals Dominate 2017 Life Sciences Deal of the Year Awards
            //-.owl-item.active(style="width: 300px;")
                .item
                    .card
                        a.card-img(href="https://clarivate.com/blog/news/immuno-oncology-sector-deals-dominate-2017-life-sciences-deal-year-awards/")

                        .card-content
                            time 2 weeks ago
                            a.latest-news-title(href="https://clarivate.com/blog/news/immuno-oncology-sector-deals-dominate-2017-life-sciences-deal-year-awards/")
                                h5 Immuno-Oncology Sector Deals Dominate 2017 Life Sciences Deal of the Year Awards

        .row
            - var length = apilist.length

            if (apiTags.length > 0)
                .col-lg-2.col-md-3
                    +apiCategories(apiTags, params)
                .col-lg-10.col-md-9
                    .row.apis_list
                        each api, i in apilist
                            .col-md-4.panel.panel-default
                                +apiDef(apilist[i])
            else
                .col-md-12
                    .row.apis_list
                        each api, i in apilist
                            .col-md-4.panel.panel-default
                                +apiDef(apilist[i])