extends layout

block content
    .jumbotron.wicked-application-title
        .container.wicked-title-container
            h1 Register and View Your Applications

            p= glob.views.applications.titleTagline

    .container.wicked-container

        p.
            An application is the entity to which you attach your API subscriptions. You can own or co-own applications with other developers. Once you have registered an application, you can create and assign APIs that use it. You can assign only one application to an API.

        if !authUser
            .panel.panel-danger
                .panel-heading
                    h4.panel-title Not logged in
                .panel-body
                    p You are not logged in. Applications can only be created if you are logged in.

                    a(href="/login?redirect=/applications").btn.btn-default Log in &raquo;
                    | &nbsp;&nbsp;
                    a(href="/signup").btn.btn-default Sign up &raquo;

        else
            .panel-group
                div(class='panel panel-default')
                    .panel-heading
                        +panelTitle('Register a new Application', '/help/applications', '#collapse')
                    div(id='collapse' class='panel-collapse collapse #{showRegister}')
                        .panel-body
                            form(role='form' action='/applications/register' method='POST')
                                .form-group
                                    label(for='appid') Application ID:
                                    input(type='string' name='appid').form-control
                                    small Application IDs must be all lower case, and may only contain the following characters: a-z, 0-9, -, _
                                .form-group
                                    label(for='appname') Application Name:
                                    input(type='string' name='appname').form-control
                                    small A human readable description/name of the your application, e.g. 'My Awesome Application'
                                .form-group
                                    label(for='appdesc') Application Description:
                                    input(type='string' name='appdesc').form-control
                                    small The Application Description field can be used to provide additional details about your application use case, including any relevant URLs. If you are subscribing to an API that requires approvals, completing this field will aid in processing time
                                .checkbox
                                    label
                                        input(type='checkbox' name='hasredirecturi' data-toggle='collapse' data-target='#redirecturipanel')
                                        strong This application will use OAuth2.0 Flows
                                        | &nbsp;(other than the Client Credentials flow, i.e. using redirects)

                                div(id='redirecturipanel' class='panel-collapse collapse')
                                    .form-group
                                        label(for='redirecturi') Redirect URI:
                                        input(type='string' name='redirecturi' value='https://').form-control
                                        small.
                                            The callback under which your web application can be called back, passing the access token in the fragment.
                                            <b>Must be an <code>https://</code> URI</b>, except for testing purposes, for which also <code>http://localhost</code> is accepted.

                                p
                                    button(type='submit').btn.btn-success Register Application

            hr

            if applications.length == 0
                br
                h4 You don't have any registered applications
            else
                p To review owners, view API keys for this application or to unregister an application, please click the application name.

                table.table.table-striped
                    thead
                        tr
                            th ID
                            th Name
                            th Role
                    tbody
                        each app, i in applications
                            tr
                                td= app.id
                                td
                                    a(href='/applications/#{app.id}')= app.name
                                td= app.userRole
