mixin panelTitle(title, helpUrl, toggleTarget)
    table(width='100%')
        tr
            td
                if !toggleTarget
                    h4.panel-title= title
                else
                    - var tt = toggleTarget.startsWith('#') ? toggleTarget : '#' + toggleTarget
                    h4.panel-title
                        a(data-toggle='collapse' data-target='#{tt}') #{title} <span class='glyphicon glyphicon-chevron-down'></span>
            if helpUrl
                td.text-right
                    a(href='#{helpUrl}' target='_blank' title="Help") Help

doctype html
html(class="no-js", lang="en")
  head
    title #{glob.title} - #{title}
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/content/wicked.css')
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i')
    link(rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css")
    link(rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js")

    block scripts
  body(class=(authUser || (authUser && authUser.id == '1'))? '': 'nonLogin')

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.pull-left(href=glob.layouts.defautRootUrl target=glob.layouts.defautRootUrlTarget)
                    if glob.layouts.defautRootUrlText != null
                        span= glob.layouts.defautRootUrlText
                    else
                        img.logo-space(src='/content/images/wicked-40.png' title='Clarivate Developer Portal Home')

            div#navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    if (route == '/')
                        li.active
                            a(href="/" title="Home")= glob.layouts.menu.homeLinkText
                    else
                        li
                            a(href="/" title="Home")= glob.layouts.menu.homeLinkText
                    if route == '/apis'
                        li.active
                            a(href="/apis" title="APIs") APIs
                    else if glob.layouts.menu.apisLinkVisibleToGuest || authUser
                        li
                            a(href="/apis" title="APIs") APIs
                    if route == '/applications'
                        li.active
                            a(href='/applications' title="Applications") Applications
                    else if glob.layouts.menu.applicationsLinkVisibleToGuest || authUser
                        li
                            a(href='/applications' title="Applications") Applications
                    if route == '/content/contact'
                        li.active
                            a(href="/content/contact" title="Contact") Contact
                    else if glob.layouts.menu.contactLinkVisibleToGuest || authUser
                        li
                            a(href="/content/contact" title="Contact") Contact
                    if route == '/content/toc'
                        li.active
                            a(href="/content/toc" title="Content") Content
                    else if glob.layouts.menu.contentLinkVisibleToGuest || authUser
                        li
                            a(href="/content/toc" title="Content") Content
                ul.nav.navbar-nav.navbar-right
                    if !authUser
                        if glob.layouts.menu.showSignupLink
                            if route == '/signup'
                                li.active
                                    a(href="/signup" title="Sign up") Sign up
                            else
                                li
                                    a(href="/signup" title="Sign up") Sign up
                        if route == '/login'
                            li.active
                                a(href="/login" title="Login")= glob.layouts.menu.loginLinkText
                        else
                            li
                                a(href="/login" title="Login")= glob.layouts.menu.loginLinkText
                if authUser
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/users/me' title="")= authUser.name
                        li.dropdown
                            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                span.glyphicon.glyphicon-cog
                            ul.dropdown-menu
                                li
                                    a(href='/help' title="Help") Help
                                li
                                    a(href='/users/me' title="User Profile") User Profile
                                li
                                    a(href='/login/logout' title="Log out") Log out
                                if authUser.admin
                                    li.divider(role='separator')
                                    li
                                        a(href='/admin/approvals' title="Pending Approvals") Pending Approvals
                                    li
                                        a(href='/admin/users' title="All Users") All Users
                                    li
                                        a(href='/admin/applications' title="All Applications") All Applications
                                    li
                                        a(href='/admin/subscribe' title="Subscription Cheat Page") Subscription Cheat Page
                                    li.divider(role='separator')
                                    li
                                        a(href='/admin/listeners' title="Webhook Listeners") Webhook Listeners
                                    li
                                        a(href='/admin/verifications' title="Pending Verifications") Pending Verifications
                                    li
                                        a(href='/admin/health' title="System Health") System Health

    block content

    hr.footer-hr

    footer
        .container

            .row.gray60
                .col-md-6.pull-left
                    //-!= glob.footer

                    &copy;&nbsp;
                    script.
                        document.write(new Date().getFullYear());

                    | &nbsp;Clarivate Analytics
                .col-md-6
                    ul.pull-right.listnone
                        li.pull-left
                            a(href="/content/terms-of-use" title="Terms of use") Terms of use
                            | &nbsp;&nbsp;&nbsp;
                        li.pull-left
                            | &nbsp;&nbsp;&nbsp;
                            a(href="https://clarivate.com/legal/privacy-statement/" title="Privacy policy") Privacy policy

                if glob.layouts.footer.showBuiltBy
                    .col-md-6.text-right
                        | Built by <a href='http://www.haufe-lexware.com' target='_blank' title="Haufe-Lexware">Haufe-Lexware</a>, powered by <a href='http://getkong.org' target='_blank' title="Mashape Kong">Mashape Kong</a>.

            if (authUser && authUser.admin)
                .row
                    .col-md-12.text-right.gray80.font10pt
                    if (authUser && authUser.admin)
                        Portal Build: #{glob.buildDate} -- <a href='/admin/health' title="Config Build: #{glob.configDate}">Config Build: #{glob.configDate}</a>
                    else if glob.layouts.footer.showBuilds
                        Portal Build: #{glob.buildDate} -- Config Build: #{glob.configDate}

            if !glob.isProduction
                .row
                    .col-md-12.text-center.red.font18pt
                        | PORTAL IS RUNNING IN DEVELOPMENT MODE

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-show-password.min.js')

    block bodyScripts
